<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoDB" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <MongoDB>
    <!--設定Mongo的log位置-->
    <add key="mongo" value="mongodb://sa:1111@10.10.102.112"/>
    <add key="level" value="ERROR"/>
  </MongoDB>
  <Target>
    <add key="target" value="ALL"/>
  </Target>
</configuration>