<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--[變數] 文字樣板 -->
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | [PID:${processid}][TID:${threadid}] | ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | [PID:${processid}][TID:${threadid}] |${message} | ${exception:format=tostring} ${newline}"/>
  <variable name="LayoutConsole" value="${longdate} | ${level:uppercase=true} | ${logger} | [PID:${processid}][TID:${threadid}] |${message} ${newline}"/>

  <!--[變數] 檔案位置 -->
  <variable name="LogTxtLocation" value="${basedir}/App_Data/Logs/LogFile.txt"/>
  <variable name="LogTxtLocationFatal" value="${basedir}/App_Data/Logs/LogFatalFile.txt"/>

  <!--[設定] 寫入目標-->
  <targets>
    <target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}"
            archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" archiveFileName="${basedir}/App_Data/Logs/zip/LogFile.{#}.txt"  archiveDateFormat="yyyyMMdd"/>
    <target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}"
            archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="1024" archiveFileName="${basedir}/App_Data/Logs/zip/LogFatalFile.{#}.txt"  archiveDateFormat="yyyyMMdd"/>
    <target name="Console" xsi:type="Console" layout="${LayoutConsole}" />
  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <logger name="*" writeTo="Console" />
    <logger name="*" levels="Trace,Debug,Info,Warn" writeTo="File" />
    <logger name="*" levels="Error,Fatal" writeTo="FileFatal" />
  </rules>
</nlog>

